@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider-carousel {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  align-items: center;
  background: #E3E3E3;
  display: flex;
  justify-content: center;
}

.slider-carousel::before, .slider-carousel::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider-carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-carousel::before {
  left: 0;
  top: 0;
}

.slider-carousel .slide-track-carousel {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider-carousel .slide-carousel {
  height: 100px;
  width: 250px;
}
